@model CrudAppUsindADO.Models.TeachersDetailViewModel

<h2>Teacher Details</h2>
<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.TeacherPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Address)
        </dd>
    </dl>
</div>
<div>
    <h4>Students</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Students </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@item.StudentName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
