@model IEnumerable<CrudAppUsindADO.Models.Teachers>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="bg-danger p-3 rounded mb-4 text-white d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Teacher Details</h1>
        @Html.ActionLink("Logout", "Index", "Login", null, new { @class = "btn btn-light rounded-3" })
    </div>
</div>
<div class="d-flex justify-content-between">
    <a asp-action="Create" class="btn btn-outline-primary rounded-3">Create New</a>


    @Html.ActionLink("Student Section", "Index", "Home", null, new { @class = "btn btn-outline-danger rounded-3" })
    @Html.ActionLink("Subject Section", "Index", "Subject", null, new { @class = "btn btn-outline-danger rounded-3" })

</div>
<table class="table  table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }, new { @class = "btn btn-outline-primary btn-sm rounded" })
                    @Html.ActionLink("Details", "Details", new { id = item.TeacherId }, new { @class = "btn btn-outline-warning btn-sm rounded" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId }, new { @class = "btn btn-outline-danger btn-sm rounded" })
            </td>
        </tr>
}
    </tbody>
</table>
